body{
    background-color: rgb(204, 163, 242);
    font-family: "lato",sans-serif;
}
h1{
    text-align: center;
}
label{
    display: block;
    margin-bottom: 5px;
}
  
input{
    margin-bottom: 10px;
}
  
button {
    margin-top: 10px;
}

form{
    text-align: center;
    border: 1px;
    background-color: rgb(204, 163, 242);
    margin-left: 300px;
    margin-right: 300px;
}
  